<script>
 //Attribution : https://github.com/NatTuck/hangman-2019-01/tree/01-31-channel-hangman
 window.tileName = "<%= @name %>";
</script>
<div class="row">
  <div class="column">
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>