/* This file is for your main application css. */
@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

td.tile {
    /* Referred to CSS designs on W3 Schools */
    transition: 0.2s;
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px lightslategrey;
    margin: 0.1em;
    font-size: 3em;
    text-align: center;
    height: 100px;
    box-shadow: 7px 5px 5px -5px black, inset 46px 26px 25px -17px #00000059;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.56);
}

td.tile:hover {
    box-shadow: 0 4px 6px 0 grey;
}

td.tile-active {
    transition: 0.3s;
    border: 2px solid #73310d;
    background: radial-gradient(white, #de7e466b);
    box-shadow: 7px 5px 5px -5px black;
}

td.tile-complete {
    transition: 0.4s;
    color: #505154;
    text-shadow: none;
    box-shadow: none;
    background: radial-gradient(#b1bbba8a, lightblue);
    border: 2px solid dimgrey;
}

td.tile-complete:hover {
    box-shadow: none;
}

div#game-heard {
    border-bottom: 1.2px outset black;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

span#reset-btn {
    margin-top: 10%;
}