/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

td.tile{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    height: 80px;
    border: 1px solid black;
}

