/* This file is for your main application css. */
@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

td.tile {
    transition:0.2s;
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px lightslategrey;
    margin: 0.1em;
    font-size: 3em;
    text-align: center;
    height: 100px;
    box-shadow: 0 2px 3px 0 grey;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.56);
    box-shadow: 0 2px 3px 0 grey;
}

td.tile:hover {
    /* Referred to CSS designs on W3 Schools */
    box-shadow: 0 4px 6px 0 grey;
}

td.tile-active{
    transition:0.3s;
    transform: rotateY(180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    background: #6565862e;
}

td.tile-complete {
    transition:0.4s;
    color: #505154;
    text-shadow: none;
    box-shadow: none;
    background: lightblue;
}

td.tile-complete:hover {
    box-shadow: none;
}